## 共通除外
.git
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.log
.DS_Store

.env*
*.env
*.sqlite
dist/
build/
*.md

## 開発専用除外
tests/
test/
coverage/
local_data/

## 大容量メディアファイル
artifacts/
**/*.mp4
**/*.mov
**/*.avi