*,*::before,*::after { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; line-height: 1.5; }
img, video, canvas, svg { display:block; max-width:100%; }
input, button, textarea, select { font: inherit; }
